<h1> Registracion </h1>

<form method="post" action='@Url.Action("Registro","Account")'>


<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Usuario</label>
    <input type="text" class="inputrequired form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="usuario" required>
    </div>

@* input contraseña *@
<div class="mb-3">
    <label for="inputPassword5" class="form-label">Contraseña</label>
    <input type="password" id="campocontraseña" class="inputrequired form-control" aria-describedby="passwordHelpBlock" name="contraseña" required oninput="Checkear()">
    <div id="infocontraseña" class="form-text">
      <span>La contraseña debe tener: </span> <span style="color:red" id="largo">entre 8 y 100 caracteres</span><span style="color:red" id="caracterEspecial">, al menos un caracter especial</span><span style="color:red" id="letraMayuscula"> y al menos una letra en mayuscula.</span>
    </div>
</div>

@* repita contraseña *@
<div class="mb-3">
<label for="inputPassword5" class="form-label">Repita su contraseña</label>
<input type="password" id="campocontraseña2" class="inputrequired form-control" aria-describedby="passwordHelpBlock" required oninput="Checkear()">
    <div id="coincidenciacontras" class="form-text">
        <span id="coinciden"style="color:red"></span>
    </div>
</div>

@* mail *@
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
    <input type="email" name="email" class="inputrequired form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required oninput="Checkear()">
</div>

@* fechanacimiento *@
<div class="mb-3">

    <label for="fechainput" class="form-label">Fecha de nacimiento</label>
    <input type="date" name="fechanacimiento" class="inputrequired form-control" id="fechainput" required oninput="Checkear()">
</div>

@* sexo *@
<div class="mb-3">

    <label for="sexoinput" class="form-label">Sexo</label>
    <select class="form-select" id="sexoinput" aria-label="Default select example" name="sexo">
  <option value="h">Hombre</option>
  <option value="m">Mujer</option>
  <option value="o">No binario</option>
  <option selected value="null">Prefiero no decirlo</option>
</select>


</div>

@* fotoperfil *@

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">URL de Foto de perfil</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fotoperfil" oninput="Checkear()">
</div>

<!-- pregunta de seguridad -->
<div class="mb-3">

    <label for="inputpregunta" class="form-label">Pregunta de seguridad</label>
    <select class="form-select" id="inputpregunta" aria-label="Default select example" name="idpregunta">
@for (int i=0; i<ViewBag.Preguntas.Count; i++){
    <option value=@ViewBag.Preguntas[i].Idpregunta>@ViewBag.Preguntas[i].Pregunta</option>
}
</select>

    <input type="text" class="inputrequired form-control" id="respuesta" aria-describedby="emailHelp" name="respuesta" oninput="Checkear()">

</div>

 <button type="submit" class="btn btn-primary" disabled id="submitform">Submit</button>
</form>
