html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  margin-left: 5%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logo{
  height: auto !important;
  width: 75px !important;
}
.banner{
  max-width: 100%;
  height: 50% !important; 
  display: block;
  margin: 0 auto;
}
.login{
  justify-content: center !important;
  text-align: center !important;
  background-color: grey;
  height: 240px;
  width: 360px;
}