html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  margin-left: 5%;
}
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logo{
  height: auto !important;
  width: 75px !important;
}
.banner{
  
    width: 100%;
    height: 700px;
    justify-content: baseline;
  
  
  
}
.login{
  justify-content: center !important;
  text-align: center !important;
  background-color: grey;
  height: 240px;
  width: 360px;
}
.register{
  justify-content: center !important;
  text-align: center !important;
  background-color: grey;
  height: 240px;
  width: 360px;
}
.flexFix{
  display: flex;
  justify-content: space-evenly;
 
}
.card{
  width: 18rem;
  margin-right: 1%;
  margin-left: 1%;
}
.card-title{
  justify-content: end;
}
.card-img-top{
  height: 18rem;
}
.products{
  display: inline-block;
}