@{
    ViewBag.Title = "ArmadoPC";
}
<head>
    <title>Arma tu PC</title>
</head>

<form method="post" action='@Url.Action("GuardarPedido")'>
    @{
        int total = 0;
    <h2>Selecciona tus componentes</h2>

<h3>CPU:</h3>
    
    
    
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    C
  </button>
  <ul class="dropdown-menu">
    @for(int i = 0; i<5; i++){
    <li>@ViewBag.CPU[i].Nombre</li>
    
    }
  </ul>
    }
</div>
switch(ViewBag.CPU.Nombre){
    
}
  
  
   

}
</form>
