@{
    ViewData["Title"] = "Producto";
}
<link rel="stylesheet" href="~/css/site.css">
<h1>Debido a que buscaste "@ViewBag.Busc":</h1>
<table class="table">

@for(int i = 0; i<@ViewBag.Prod.Count; i++){
<div class="container text-center">
<div class="d-flex align-content-start flex-wrap">
  <div class="row align-items-start">
    <div class="col">
      <img src="@ViewBag.Prod[i].img" class=" img-fluid" alt="..." height="250px" width=250px >
      <h5 class="card-title">@ViewBag.Prod[i].Nombre</h5>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="VerDetalle(@ViewBag.Prod[i].IdProducto)">Mostrar info</button>
    </div>
    </div>
  </div>
</div>
}


</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Nombre">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="img">
        <div id="Descripcion"></div>
        <div id="Precio"></div>
        <div id="Consumo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

