@{
    ViewData["Title"] = "Profile";
}

<form method="get" action='Edicion'>
<div class="pt-5 mb-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input name="Nombre" type="text" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" id="Nombre">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido</label>
    <input name="Apellido" type="text" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1" id="Apellido">
  </div>

    <!-- ingrese contraseña -->
  <div class="mb-3">
    <label for="inputPassword5" class="form-label">E-Mail</label>
    <input name="EMail" type="email" placeholder="E-Mail" aria-label="E-Mail" aria-describedby="basic-addon1" id="EMail">
</div>

<div class="mb-3">
<label for="exampleInputEmail1" class="form-label">Teléfono</label>
<input name="Telefono" type="text" placeholder="Teléfono" aria-label="ConfPass" aria-describedby="basic-addon1" id="Telefono">
    <div id="coincidenciacontras" class="form-text">
        <span id="coinciden"style="color:red"></span>
    </div>
</div>

<div class="mb-3">
<label for="exampleInputEmail1" class="form-label">Dirección</label>
<input name="Direccion" type="text" placeholder="Dirección" aria-label="Direccion" aria-describedby="basic-addon1" id="Direccion">
</div>

  <button type="submit"  id="submitform" class="btn btn-info">Actualizar Perfil</button>
</form>