@{
  ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css">
<!DOCTYPE html>
<html>
<img class="banner" src="~/imgs/banner.jpg">
 <div class=Main>
    <h1 class="pt-3">Productos en oferta</h1>
 </div>
<table class="table">
<div class="flexFix">

  @{
    Random rnd = new Random();
  
  @for(int i = 0; i < 5; i++){int r = rnd.Next(1,44);
  
  <div class="card mx-0" style="width: 18rem; ">
  <img src="@ViewBag.Productos[r].img" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@ViewBag.Productos[r].Nombre</h5>
  </div>
</div>


  }
  } </div>
  </table>