@{
  ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="Home/wwwroot/css">
 
 <img class="banner" src="~/imgs/banner.jpg">

 <div class=Main>
    <h3>Armá tu pc</h3>
    <p>Ofertas</p>
    
    <main>
        <section class="main">

            <!-------------- TIPO DE COMPONENETES ----------->
            <div class="main__componentes">
                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">procesador</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">Cooler</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">Mother</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">Ram</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">Placa de video</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">SSD</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">HDD</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">fuente</h1>
                </div>

                <div class="main__componentes--tarjeta">
                    <h1 class="main__componentes--titulo">Gabinete</h1>
                </div>
            </div>

            <!-------------- INICIO CATÁLOGO ----------->
            <div class="main__catalogo">
                <div class="main__catalogo--tarjeta">
                    <h1 class="main__catalogo--titulo">AMD</h1>
                </div>

                <div class="main__catalogo--tarjeta">
                    <h1 class="main__catalogo--titulo">Intel</h1>
                </div>

            </div>
        </section>
    </main>
 </div>