@{
  ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="Home/Shared/_Layout.cshtml.css"
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" cycle>
    <div class="carousel-item active">
      <img src="https://i.ibb.co/wLqG0kY/OIG.jpg" alt="OIG"  class="d-block w-100" width="60%" height="auto" >
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/wLqG0kY/OIG.jpg" alt="OIG"  class="d-block w-100" width="60%" height="auto">
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/wLqG0kY/OIG.jpg" alt="OIG"  class="d-block w-100" width="60%" height="auto">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>