@{
    ViewData["Title"] = "iniciar sesion";
}

<div class="mt-5 pt-5">
  <div class="mt-5 pt-5">
    <form action='@Url.Action("Login", "Home")'>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" class="form-control">
        </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <p>@ViewBag.LoginError</p> 
      <a href='@Url.Action("ContraseñaOlvidada", "Home")'>¿Olvidaste tu contraseña?</a> <br> 
      <a href='@Url.Action("Registrarse", "Home")'>¿Eres nuevo? Registrate</a>
    </form>
  </div>
</div>