@{
    ViewData["Title"] = "Login";
}
 <form action='@Url.Action("comprobarDatos")' method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">E-Mail</label>
            <input name="Email" type="email" class="form-control" id="Email" aria-describedby="Email">
        </div>
        <div class="mb-3">
            <label for="Contraseña" class="form-label">Contraseña</label>
            <input name="Contraseña" type="password" class="form-control" id="Contraseña">
            <div id="lol" class="form-text"><a href='@Url.Action("actualizarContraseña")'>¿Olvidaste Tu Contraseña?</a></div>
        </div>

        @if(ViewBag.LoginError != null)
        {
            <p style="color: crimson;" class="mb-2">@ViewBag.LoginError</p>
        }

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Acepto los <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Términos y Condiciones</a></label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="pt-2">Eres Nuevo? <a href='@Url.Action("registrarUsuario")'>Registrate</a></p>
    </form>