@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Valoramos su privacidad, pero en este caso, tenemos que sacar ingresos con sus datos, así que seremos transparentes con el uso de los mismos, le llegan a 25 diversas empresas porque no nos financian el server.</p>
