@{
    ViewData["Title"] = "Register";
}
<form action='@Url.Action("UsuRegistrar")' onsubmit="return ValidarContraseña()">
<div class="mt-5">
    <label for="inputPassword6" class="col-form-label">Nombre</label>
  <div class="col-auto">
    <input name="Nombre" type="text" placeholder="Nombre" id="Nombre" class="form-control" aria-describedby="passwordHelpInline" required>
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su Nombre.
    </span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Apellido</label>
  <div class="col-auto">
    <input name="Apellido" type="text" placeholder="Apellido" id="Apellido" class="form-control" aria-describedby="passwordHelpInline" required>
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su Apellido.
    </span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Usuario</label>
  <div class="col-auto">
    <input name="Username" type="text" placeholder="Usuario" id="Username" class="form-control" aria-describedby="passwordHelpInline" required>
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su usuario.
    </span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Contraseña</label>
  <div class="col-auto">
    <input name="Contraseña" type="password" placeholder="Contraseña" id="Contra" class="form-control" aria-describedby="passwordHelpInline" required>
  </div>
    <span>La contraseña debe tener: </span> <span style="color:red" id="largo">entre 8 y 100 caracteres</span><span style="color:red" id="caracterEspecial">, al menos un caracter especial</span><span style="color:red" id="letraMayuscula"> y al menos una letra en mayuscula.</span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Mail</label>
  <div class="col-auto">
    <input name="EMail" type="text" placeholder="E-Mail" id="EMail" class="form-control" aria-describedby="passwordHelpInline" required>
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su mail.
    </span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Teléfono</label>
  <div class="col-auto">
    <input name="Telefono" type="text" placeholder="Teléfono" id="Telefono" class="form-control" aria-describedby="passwordHelpInline">
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su Teléfono.
    </span>
</div>
<div>
    <label for="inputPassword6" class="col-form-label">Dirección</label>
  <div class="col-auto">
    <input name="Direccion" type="text" placeholder="Dirección" id="Direccion" class="form-control" aria-describedby="passwordHelpInline">
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su dirección.
    </span>
</div>
<div class="mb-4">
    <label for="inputPassword6" class="col-form-label">URL de Foto de Perfil</label>
  <div class="col-auto">
    <input name="FotoDePerfil" type="text" placeholder="FotoDePerfil" id="FotoDePerfil" class="form-control" aria-describedby="passwordHelpInline">
  </div>
    <span id="passwordHelpInline" class="form-text">
      Ingrese su Foto de Perfil.
    </span>
</div>
  <button type="submit" id="submitform" class="btn btn-success">Registrarse</button>
</div>
</form>
<script src="~/js/site.js"></script>